@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>A Collaboration Platform for Musicians and Audio Professionals</a>.</p>
    <a href="/WebAudio/">Create Project</a>
</div>
